{% extends "CondorsTnMallBundle::ResponsableLayouts/Layout.html.twig" %}





{% block quickProfile %}
    {{ include('CondorsTnMallBundle::Responsable/quickProfile.html.twig') }}
{% endblock quickProfile %}



{% block nav_menu %}

    {{ include('CondorsTnMallBundle::Responsable/navMenu.html.twig') }}

{% endblock nav_menu %}




{% block Content %}

<div class="page-title">
    <div class="title_left">
        <h3>Packs Management</h3>
    </div>


    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <input id="prodsearch" type="text" class="form-control" placeholder="Search for...">
        </div>
    </div>
</div>


        {% for pack in packs  %}    
    <div class='animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12'>
        <div class='tile-stats'>

            <div class='pricing'>
                <div class='title'>
                     <h1>{{ pack.libelle }}</h1>
                     <h2>{{pack.description }}</h2>                   
                </div>
                <div class='x_content'>
                    <div class=''>
                        <div class='pricing_features'>
                            <ul class='list-unstyled text-left'>
                                <li>{% if pack.zoneA %}<i class='fa fa-check text-danger'></i> {% else %} <i class='fa fa-times text-danger'></i>  {% endif %}affichage dans la zone A</li>
                                <li>{% if pack.zoneB %}<i class='fa fa-check text-danger'></i> {% else %} <i class='fa fa-times text-danger'></i>  {% endif %}affichage dans la zone B</li>
                                <li>{% if pack.zoneC %}<i class='fa fa-check text-danger'></i> {% else %} <i class='fa fa-times text-danger'></i>  {% endif %}affichage dans la zone C</li>
                                  
                            </ul>
                        </div>
                    </div>
                    <div class='pricing_footer' id="pack{{ pack.idPack }}">
                        <a href="javascript:void(0);" class="btn btn-success btn-block"  role="button" onclick="buy({{ pack.idPack }})" >Buy<span> now!</span></a>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
        {% endfor %}

        {% endblock Content %}


        {% block footer %}
            {{ include('CondorsTnMallBundle::Responsable/footer.html.twig') }}
        {% endblock footer %}









        {% block otherScript %}

            <div id="custom_notifications" class="custom-notifications dsp_none">
                <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
                </ul>
                <div class="clearfix"></div>
                <div id="notif-group" class="tabbed_notifications"></div>
            </div>



            <!-- bootstrap progress js -->
            <script src="{{ asset('responsable/js/progressbar/bootstrap-progressbar.min.js') }}"></script>
            <script src="{{ asset('responsable/js/nicescroll/jquery.nicescroll.min.js') }}"></script>
            <!-- icheck -->
            <script src="{{ asset('responsable/js/icheck/icheck.min.js') }}"></script>

            <script src="{{ asset('responsable/js/custom.js') }}"></script>

            <!-- form wizard -->
            <script type="text/javascript" src="{{ asset('responsable/js/wizard/jquery.smartWizard.js') }}"></script>
            <!-- pace -->
            <script src="{{ asset('responsable/js/pace/pace.min.js') }}"></script>

            <script type="text/javascript">
                $(document).ready(function () {
         
                         
                        $.ajax({
                            type: 'get',
                            url: 'http://localhost/TunisiaMall1204/web/app_dev.php/user-responsable/displayBoughtPacks',
                            beforeSend: function () {
                                console.log('searching ...');
                            },
                            success: function (data) {


                                var trHTML = '';
                                $.each(data, function (i, item) {
                                    trHTML = '';
                                    
                                    trHTML +="<a class='btn btn-success btn-block' role='button'  disabled>Already bought</a>" ;
                               var ident = '#pack'+item.idPack ;
                               
                                 $(ident).html(trHTML);
    
    
    });
                              

                                console.log('Ok ...');
                            }
                        });

          
                });
                
                
           function    buy(id) {

           
                             $.ajax({
                            type: 'get',
                            url: 'http://localhost/TunisiaMall1204/web/app_dev.php/user-responsable/buyPacks/'+id,
                            beforeSend: function () {
                                console.log(id);
                            },
                            success: function () {
               var trHTML="";
               trHTML +="<a href='javascript:void(0);' class='btn btn-success btn-block' role='button'  disabled>Already bought</a>" ;
               var ident = '#pack'+id ;
               $(ident).html(trHTML);
                            }
                        });
    
    
    
    }
                
            </script>

            <script type="text/javascript">
                $(document).ready(function () {


                    $("#enseigne_submit").hide();

                    // Smart Wizard
                    $('#wizard').smartWizard({
                        transitionEffect: 'fade'
                    });


                    $("#sender").click(function () {
                        $("#enseigne_submit").click();

                        $("textarea").val($("#placeHolder").Editor("getText"));
                        return false;
                    });


                });

                $(document).ready(function () {
                    // Smart Wizard
                    $('#wizard_verticle').smartWizard({
                        transitionEffect: 'slideleft'
                    });
                });

            </script>


            <!-- Editor Zone -->
            <script src="{{ asset('responsable/js/ckeditor/ckeditor.js') }}"></script>

            <script type="text/javascript">

                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.
                CKEDITOR.replace('enseigne_descriptionenseigne');

            </script>

            <!-- dropzone -->
            <script src="{{ asset('responsable/js/dropzone/dropzone.js') }}"></script>



            <script>
                $(document).ready(function () {
                    $('input.tableflat').iCheck({
                        checkboxClass: 'icheckbox_flat-green',
                        radioClass: 'iradio_flat-green'
                    });
                });

                var asInitVals = new Array();
                $(document).ready(function () {
                    var oTable = $('#example').dataTable({
                        "oLanguage": {
                            "sSearch": "Search all columns:"
                        },
                        "aoColumnDefs": [{
                            'bSortable': false,
                            'aTargets': [0]
                        } //disables sorting for column one
                        ],
                        'iDisplayLength': 12,
                        "sPaginationType": "full_numbers",
                        "dom": 'T<"clear">lfrtip',
                        "tableTools": {
                            "sSwfPath": "js/datatables/tools/swf/copy_csv_xls_pdf.swf"
                        }
                    });
                    $("tfoot input").keyup(function () {
                        /* Filter on the column based on the index of this element's parent <th> */
                        oTable.fnFilter(this.value, $("tfoot th").index($(this).parent()));
                    });
                    $("tfoot input").each(function (i) {
                        asInitVals[i] = this.value;
                    });
                    $("tfoot input").focus(function () {
                        if (this.className == "search_init") {
                            this.className = "";
                            this.value = "";
                        }
                    });
                    $("tfoot input").blur(function (i) {
                        if (this.value == "") {
                            this.className = "search_init";
                            this.value = asInitVals[$("tfoot input").index(this)];
                        }
                    });
                });
            </script>



        {% endblock otherScript %}

