{% extends "CondorsTnMallBundle::ResponsableLayouts/Layout.html.twig" %}

{%block quickProfile %}

    {{ include('CondorsTnMallBundle::Responsable/quickProfile.html.twig') }}

{%endblock quickProfile %}

{% block nav_menu %}

    {{ include('CondorsTnMallBundle::Responsable/navMenu.html.twig') }}

{%endblock nav_menu%}

{% block Content %}

<div class="page-title">
    <div class="title_left">
        <h3>Stores Management</h3>
    </div>
    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <input id="storesearch" type="text" class="form-control" placeholder="Search for...">
        </div>
    </div>
</div>

<div class="" role="tabpanel" data-example-id="togglable-tabs">
    <ul id="myTab1" class="nav nav-tabs bar_tabs right" role="tablist">
        <li role="presentation" class="">
            <a href="#tab_content11" id="home-tabb" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
                <i class="fa fa-plus-square"></i></a>
        </li>
        <li role="presentation" class="active">
            <a href="#tab_content22" role="tab" id="profile-tabb" data-toggle="tab" aria-controls="profile" aria-expanded="false">
                <i class="fa fa-file-text"></i></a>
        </li>
    </ul>
    <div id="myTabContent2" class="tab-content">
        <div role="tabpanel" class="tab-pane fade" id="tab_content11" aria-labelledby="home-tab">
            <!-- Smart Wizard -->
            <div id="wizard" class="form_wizard wizard_horizontal">
                <ul class="wizard_steps">
                    <li>
                        <a href="#step-1">
                            <span class="step_no">1</span>
                                <span class="step_descr">
                                    Step 1<br/>
                                    <small>General Information</small>
                                </span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-2">
                            <span class="step_no">2</span>
                                <span class="step_descr">
                                    Step 2<br/>
                                    <small>Description</small>
                                </span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-3">
                            <span class="step_no">3</span>
                                <span class="step_descr">
                                    Step 3<br/>
                                    <small>Upload Pictures</small>
                                </span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-4">
                            <span class="step_no">4</span>
                                <span class="step_descr">
                                    Step 4<br/>
                                    <small>Step 4 description</small>
                                </span>
                        </a>
                    </li>
                </ul>
                {{ form_start(form, {'attr': {'class': 'form-horizontal form-label-left'}}) }}
                <div id="step-1">


                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Store Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">

                            {{ form_widget(form.libelleBoutique , { 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Category Brand <span
                                    class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">

                            {{ form_widget(form.idEnseigne , { 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Store Category <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.categorieBoutique , { 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Store TEL<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.tel , { 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Store Email <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.email , { 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}
                        </div>
                    </div>

                </div>
                <div id="step-2">
                    <h2 class="StepTitle">Desciption</h2>
                    <p id="txtEditor">
                        {{ form_widget(form.descriptionBoutique , { 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}
                    </p>

                </div>
                <div id="step-3">
                    <h2 class="StepTitle">Step 3 Content</h2>
                    <p>
                        {{ form_widget(form.file1 , { 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}
                        {{ form_widget(form.file2 , { 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}
                        {{ form_widget(form.file3 , { 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}
                    </p>

                </div>
                <div id="step-4">
                    <h2 class="StepTitle">Step 4 Content</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                    </p>

                </div>
            </div>
            {{ form_widget(form.submit) }}
            {{ form_end(form) }}
        </div>
        <div role="tabpanel" class="tab-pane fade active in" id="tab_content22" aria-labelledby="profile-tab">
            <!-- table View -->

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table id="example" class="table table-striped responsive-utilities jambo_table">
                            <thead>
                            <tr class="headings">
                                <th> Store Name </th>
                                <th> Brand </th>
                                <th> Category </th>
                                <th> Tel </th>
                                <th> Email </th>
                                <th class=" no-link last"><span class="nobr">Action</span>
                                </th>
                            </tr>
                            </thead>
                            <tbody id="records_table">
                            {% for stores in allstores %}
                                <tr class="even pointer">
                                    <td class=" ">{{ stores.libelleBoutique }}</td>
                                    <td class=" "><img width="30" heigth="30" src="{{ asset('uploads/pictures/')}}{{ stores.idEnseigne.imageenseigne }}"></td>
                                    <td class=""> {{ stores.tel }}</td>
                                    <td class=" ">{{ stores.categorieBoutique }}</td>
                                    <td class=" ">{{ stores.email }}</td>
                                    <td class=" last">
                                        <a data-toggle="modal" data-target=".bs-example{{ stores.idBoutique }}-modal-lg" href="#">
                                            <i style="font-size:22px;" class="fa fa-cog"></i></a>
                                        &nbsp;&nbsp;  <a href="{{ path('condors_tn_mall_responsable_store_delete', {'id': stores.idBoutique}) }}" >
                                            <i style="font-size:22px;" class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                                <div class="modal fade bs-example{{ stores.idBoutique }}-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel"> <i class="fa fa-cog"></i> &nbsp; Boutique : {{ stores.libelleBoutique }} </h4>
                                            </div>
                                            <div class="modal-body">
                                                <iframe  id="form-iframe" frameborder="0" scrolling="auto"  style="height: 750px; width: 100%" src="{{ path('condors_tn_mall_responsable_store_modifier', {'id': stores.idBoutique}) }}"></iframe>
                                            </div>
                                            <div class="modal-footer">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <!-- End Table View -->
        </div>
    </div>
</div>
<div class="">
    <div class="clearfix"></div>
    <div class="row">

        {% endblock Content%}

        {% block footer %}
            {{ include('CondorsTnMallBundle::Responsable/footer.html.twig') }}
        {% endblock footer %}

        {% block otherScript  %}

            <div id="custom_notifications" class="custom-notifications dsp_none">
                <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
                </ul>
                <div class="clearfix"></div>
                <div id="notif-group" class="tabbed_notifications"></div>
            </div>
            <!-- bootstrap progress js -->
            <script src="{{ asset('responsable/js/progressbar/bootstrap-progressbar.min.js')}}"></script>
            <script src="{{ asset('responsable/js/nicescroll/jquery.nicescroll.min.js')}}"></script>
            <!-- icheck -->
            <script src="{{ asset('responsable/js/icheck/icheck.min.js')}}"></script>

            <script src="{{ asset('responsable/js/custom.js')}}"></script>

            <!-- form wizard -->
            <script type="text/javascript" src="{{ asset('responsable/js/wizard/jquery.smartWizard.js')}}"></script>
            <!-- pace -->
            <script src="{{ asset('responsable/js/pace/pace.min.js')}}"></script>

            <script type="text/javascript">
                $("document").ready(function () {
                    $("#storesearch").keydown(function () {

                        $.ajax({
                            type: 'get',
                            url: 'http://localhost/TunisiaMall/web/app_dev.php/user-responsable/stores/searchStore/' + $("#storesearch").val(),
                            beforeSend: function () {
                                console.log('searching ...');
                            },
                            success: function (data) {


                                var trHTML = '';
                                $.each(data, function (i, item) {
                                    var pr = ((item.tvaProduit * item.prixProduit) / 100) + item.prixProduit;

                                    trHTML += "<tr class='even pointer'><td>" + item.refProduit + "</td><td><img width='30' heigth='30' src='{{ asset('uploads/pictures/')}}" + item.imageprodreel + " ' </td><td>" + item.libelleProduit + "</td><td>" + item.categorieProduit + "</td><td>" + item.prixProduit + " D.T </td><td>" + item.tvaProduit + "%</td><td>" + pr + " D.T</td>\n\
                            <td class='last'><a data-toggle='modal' data-target='.bs-example" + item.idProduit +"-modal-lg' 'href='#'><i style='font-size:22px;' class='fa fa-cog'></i></a> &nbsp;&nbsp; <a href=\n\
                                'http://localhost/TunisiaMall/web/app_dev.php/user-responsable/products/delete/" + item.idProduit + "'><i style='font-size:22px;' class='fa fa-trash'></i></a></tr>";
                                });
                                $('#records_table').html(trHTML);
                                console.log('Ok ...');

                            }
                        });

                    });
                });
            </script>

            <script type="text/javascript" >
                $(document).ready(function () {


                    $("#produit_submit").hide();

                    // Smart Wizard
                    $('#wizard').smartWizard({
                        transitionEffect: 'fade'
                    });



                    $("#sender").click(function () {
                        $("#produit_submit").click();

                        $("textarea").val($("#placeHolder").Editor("getText"));
                        return false;
                    });


                });

                $(document).ready(function () {
                    // Smart Wizard
                    $('#wizard_verticle').smartWizard({
                        transitionEffect: 'slideleft'
                    });
                });

            </script>
            <!-- Editor Zone -->
            <script src="{{ asset('responsable/js/ckeditor/ckeditor.js')}}"></script>

            <script type="text/javascript">

                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.
                CKEDITOR.replace('produit_descriptionProduit');
            </script>
            <!-- dropzone -->
            <script src="{{ asset('responsable/js/dropzone/dropzone.js')}}"></script>
            <script>
                $(document).ready(function () {
                    $('input.tableflat').iCheck({
                        checkboxClass: 'icheckbox_flat-green',
                        radioClass: 'iradio_flat-green'
                    });
                });

                var asInitVals = new Array();
                $(document).ready(function () {
                    var oTable = $('#example').dataTable({
                        "oLanguage": {
                            "sSearch": "Search all columns:"
                        },
                        "aoColumnDefs": [{
                            'bSortable': false,
                            'aTargets': [0]
                        } //disables sorting for column one
                        ],
                        'iDisplayLength': 12,
                        "sPaginationType": "full_numbers",
                        "dom": 'T<"clear">lfrtip',
                        "tableTools": {
                            "sSwfPath": "js/datatables/tools/swf/copy_csv_xls_pdf.swf"
                        }
                    });
                    $("tfoot input").keyup(function () {
                        /* Filter on the column based on the index of this element's parent <th> */
                        oTable.fnFilter(this.value, $("tfoot th").index($(this).parent()));
                    });
                    $("tfoot input").each(function (i) {
                        asInitVals[i] = this.value;
                    });
                    $("tfoot input").focus(function () {
                        if (this.className == "search_init") {
                            this.className = "";
                            this.value = "";
                        }
                    });
                    $("tfoot input").blur(function (i) {
                        if (this.value == "") {
                            this.className = "search_init";
                            this.value = asInitVals[$("tfoot input").index(this)];
                        }
                    });
                });
            </script>
        {% endblock otherScript%}
