{% extends "CondorsTnMallBundle::ResponsableLayouts/Layout.html.twig" %}





{% block quickProfile %}
    {{ include('CondorsTnMallBundle::Responsable/quickProfile.html.twig') }}
{% endblock quickProfile %}



{% block nav_menu %}

    {{ include('CondorsTnMallBundle::Responsable/navMenu.html.twig') }}

{% endblock nav_menu %}




{% block Content %}

<div class="page-title">
    <div class="title_left">
        <h3>Categoies Management</h3>
    </div>


</div>

<div class="" role="tabpanel" data-example-id="togglable-tabs">
    <ul id="myTab1" class="nav nav-tabs bar_tabs right" role="tablist">
        <li role="presentation" class=""><a href="#tab_content11" id="home-tabb" role="tab" data-toggle="tab"
                                            aria-controls="home" aria-expanded="true"><i class="fa fa-plus-square"></i></a>
        </li>
        <li role="presentation" class="active"><a href="#tab_content22" role="tab" id="profile-tabb" data-toggle="tab"
                                                  aria-controls="profile" aria-expanded="false"><i
                        class="fa fa-file-text"></i></a>
        </li>


    </ul>
    <div id="myTabContent2" class="tab-content">
        <div role="tabpanel" class="tab-pane fade" id="tab_content11" aria-labelledby="home-tab">
            <!-- Smart Wizard -->

            <div id="wizard" class="form_wizard wizard_horizontal">
                <ul class="wizard_steps">
                    <li>
                        <a href="#step-1">
                            <span class="step_no">1</span>
                                <span class="step_descr">
                                    Step 1<br/>
                                    <small>General Information</small>
                                </span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-2">
                            <span class="step_no">2</span>
                                <span class="step_descr">
                                    Step 2<br/>
                                    <small>Description</small>
                                </span>
                        </a>
                    </li>

                    <li>
                        <a href="#step-3">
                            <span class="step_no">3</span>
                                <span class="step_descr">
                                    Step 3<br/>
                                    <small>Step 3 Confirmation</small>
                                </span>
                        </a>
                    </li>
                </ul>

                {{ form_start(form, {'attr': {'class': 'form-horizontal form-label-left'}}) }}
                <div id="step-1">


                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Category Name <span
                                    class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">

                            {{ form_widget(form.name , { 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Category Brand <span
                                    class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">

                            {{ form_widget(form.idEnseigne , { 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}
                        </div>
                    </div>


                </div>
                <div id="step-2">
                    <h2 class="StepTitle">Desciption</h2>
                    <p id="txtEditor">
                        {{ form_widget(form.description , { 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}
                    </p>

                </div>

                <div id="step-3">
                    <h2 class="StepTitle">Step 3 Confirmation</h2>
                    <p><center><h2>You will confirm this action by clicking on "Finish" ?</h2></center>
                    </p>

                </div>

            </div>

            {{ form_widget(form.submit) }}
            {{ form_end(form) }}
        </div>
        <div role="tabpanel" class="tab-pane fade active in" id="tab_content22" aria-labelledby="profile-tab">
            <!-- table View -->

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <div class="x_content">
                        <table id="sort" class="table table-striped responsive-utilities jambo_table">
                            <thead>
                            <tr class="headings">

                                <th> Categories Name</th>
                                <th>Categories Brand</th>
                                <th>Categories Description</th>
                                <th></th>
                                <th> Categories Position</th>

                                <th class=" no-link last"><span class="nobr">Action</span>
                                </th>
                            </tr>
                            </thead>


                            {% set i=0 %}
                            <tbody id="pos-position-{{ i }}">
                            {% for categorie in categories %}

                                <tr class="rowit" style="cursor:move" class="even pointer">


                                    <td class=" ">{{ categorie.name }}</td>
                                    <td class=" ">
                                        {{ categorie.idEnseigne.libelleenseigne }}
                                    </td>
                                    <td class="nameProd">
                                        {{ categorie.description[:2] }}...
                                    </td>
                                    <td><span><i class="fa fa-arrows"></i> </span></td>
                                    <td>
                                        <p class="rowCatfinal">{{ categorie.position }}

                                        </p>
                                        <p><input class="hiddenCatId" type="hidden" value="{{ categorie.id }}"></p>
                                        {% set i = i + 1 %}
                                    </td>


                                    <td class=" last">
                                        <a data-toggle="modal" data-target=".bs-example{{ categorie.id }}-modal-lg"
                                           href="#"> <i style="font-size:22px;" class="fa fa-cog"></i>
                                        </a>
                                        &nbsp;&nbsp; <a
                                                href="{{ path('condors_tn_mall_responsable_categories_delete', {'id': categorie.id}) }}"><i
                                                    style="font-size:22px;" class="fa fa-trash"></i></a>

                                    </td>
                                </tr>
                                <div class="modal fade bs-example{{ categorie.id }}-modal-lg" tabindex="-1"
                                     role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span
                                                            aria-hidden="true">×</span>
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-cog"></i>
                                                    &nbsp; Category {{ categorie.name }} </h4>
                                            </div>
                                            <div class="modal-body">
                                                <iframe id="form-iframe" frameborder="0" scrolling="auto"
                                                        style="height: 750px; width: 100%"
                                                        src="{{ path('condors_tn_mall_responsable_categories_Modify', {'id': categorie.id}) }}"></iframe>
                                            </div>
                                            <div class="modal-footer">
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                            </tbody>
                            <input id="maxCount" type="hidden" value="{{ i }}">


                        </table>

                    </div>
                </div>
            </div>


            <!-- End Table View -->
        </div>

    </div>
</div>


<div class="">

    <div class="clearfix"></div>

    <div class="row">


        {% endblock Content %}


        {% block footer %}
            {{ include('CondorsTnMallBundle::Responsable/footer.html.twig') }}
        {% endblock footer %}









        {% block otherScript %}

            <div id="custom_notifications" class="custom-notifications dsp_none">
                <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
                </ul>
                <div class="clearfix"></div>
                <div id="notif-group" class="tabbed_notifications"></div>
            </div>



            <!-- bootstrap progress js -->
            <script src="{{ asset('responsable/js/progressbar/bootstrap-progressbar.min.js') }}"></script>
            <script src="{{ asset('responsable/js/nicescroll/jquery.nicescroll.min.js') }}"></script>
            <!-- icheck -->
            <script src="{{ asset('responsable/js/icheck/icheck.min.js') }}"></script>

            <script src="{{ asset('responsable/js/custom.js') }}"></script>

            <!-- form wizard -->
            <script type="text/javascript" src="{{ asset('responsable/js/wizard/jquery.smartWizard.js') }}"></script>
            <!-- pace -->
            <script src="{{ asset('responsable/js/pace/pace.min.js') }}"></script>



            <script type="text/javascript">
                $(document).ready(function () {


                    $("#categories_submit").hide();

                    // Smart Wizard
                    $('#wizard').smartWizard({
                        transitionEffect: 'fade'
                    });


                    $("#sender").click(function () {
                        $("#categories_submit").click();

                        $("textarea").val($("#placeHolder").Editor("getText"));
                        return false;
                    });


                });

                $(document).ready(function () {
                    // Smart Wizard
                    $('#wizard_verticle').smartWizard({
                        transitionEffect: 'slideleft'
                    });


                });

            </script>


            <!-- Editor Zone -->
            <script src="{{ asset('responsable/js/ckeditor/ckeditor.js') }}"></script>

            <script type="text/javascript">

                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.
                CKEDITOR.replace('categories_description');

            </script>

            <!-- dropzone -->
            <script src="{{ asset('responsable/js/dropzone/dropzone.js') }}"></script>
            <link rel="stylesheet"
                  href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
            <script>
                // Return a helper with preserved width of cells
                var fixHelper = function (e, ui) {
                    ui.children().each(function () {
                        $(this).width($(this).width());
                    });
                    return ui;
                };
                var oldButGold = '';
                $("#sort tbody").sortable({

                    helper: fixHelper,
                    start: function (event, ui) {
                        ui.item.startPos = ui.item.index();

                    },
                    stop: function (event, ui) {
                        console.log("Start position: " + ui.item.startPos);
                        console.log("New position: " + ui.item.index());

                        for (var i = 0; i < $("#maxCount").val(); i++) {

                            $(".rowCatfinal").eq(i).html(i);
                            var id = $(".hiddenCatId").eq(i).val();
                            $.ajax({
                                type: 'get',
                                url: 'http://localhost/TunisiaMall/web/app_dev.php/user-responsable/categories/update/' + id + '/' + i,
                                beforeSend: function () {
                                    console.log('sending new pos ...');
                                },
                                success: function (data) {


                                }
                            });
                        }


                    }
                }).disableSelection();


                var fixHelperModified = function (e, tr) {
                    var $originals = tr.children();
                    var $helper = tr.clone();

                    $helper.children().each(function (index) {
                        $(this).width($originals.eq(index).width())
                        console.log('Ok ...');
                    });
                    return $helper;
                };


            </script>





        {% endblock otherScript %}

