{% extends "CondorsTnMallBundle::MyAccountTemplate.html.twig" %}
{% block pageTitle %}
    <h1 class="page-title"></h1>
{% endblock pageTitle %}

{% block header %}
    {{ include('CondorsTnMallBundle::SimpleVisitor/parts/header.html.twig') }}
{% endblock header %}

{% block titleTop %}<h2 class="title-heading">Store locator</h2>
{% endblock %}
{% block storelocator %}
   <div id="mall-map1" style="width: 720px; height: 300px"></div>
{% endblock storelocator  %}
 {% block oScript %}
     <link rel="stylesheet" href="{{ asset('storelocator/css/jquery-jvectormap-2.0.3.css') }}" type="text/css" media="all"/>
     <script type="text/javascript" src="{{ asset('storelocator/js/jquery-1.8.2.js') }}"></script>
     <script type="text/javascript" src="{{ asset('storelocator/js/jquery-jvectormap-2.0.3.min.js') }}"></script>
     <script type="text/javascript" src="{{ asset('storelocator/js/mall-map0.js') }}"></script>
     <script type="text/javascript" src="{{ asset('storelocator/js/mall-map2.js') }}"></script>
     <script type="text/javascript" src="{{ asset('storelocator/js/mall-map3.js') }}"></script>
     <script type="text/javascript" src="{{ asset('storelocator/js/mall0.js') }}"></script>
     <script type="text/javascript" src="{{ asset('storelocator/js/mall2.js') }}"></script>
     <script type="text/javascript" src="{{ asset('storelocator/js/mall3.js') }}"></script>
 {% endblock oScript %}
