{#

This file is part of the Mremi\ContactBundle Symfony bundle.

(c) Rémi Marseille <marseille.remi@gmail.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "CondorsTnMallBundle::MyAccountTemplate.html.twig" %}

{% block pageTitle %}
    <h1 class="page-title"></h1>
{% endblock pageTitle %}

{% block header %}
    {{ include('CondorsTnMallBundle::SimpleVisitor/parts/header.html.twig') }}


{% endblock header %}

{% block titleTop %}<h2 class="title-heading">contact Form</h2>
{% endblock %}
{% block body %}
   <div class="mt-4">
        <div class="col-sm-4">
            <div class="yolo-contact-info info-left">
                <h3 class="title">Address</h3>
                <i class="fa fa-map-marker"></i>
       										<span>
       											Berges du Lac 2<br/>
											</span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="yolo-contact-info info-left">
                <h3 class="title">Phone</h3>
                <i class="fa fa-mobile"></i>
       										<span>
       											Phone: 20200200<br />
												Fax: 1-300-0400-500-2
											</span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="yolo-contact-info info-left">
                <h3 class="title">E-mail</h3>
                <i class="fa fa-paper-plane"></i>
       										<span>
       											<a href="mailto:email@domain.com">email@tunmall.com</a>
       										</span>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br><br>
    <br><br><br><br><br><br><br><br><br>

    {% trans_default_domain 'MremiContactBundle' %}
    {% form_theme form 'MremiContactBundle:Contact:bootstrap_form_theme.html.twig' %}


    {{ form_start(form, {'action': path('mremi_contact_form')}) }}
<fieldset>

    {{ form_widget(form) }}

    </fieldset>
{{ form_end(form) }}
<div id="googleMap" style="width: 100%; border:0;height: 380px;"></div>

    <h3>Or scan this QR code to get Mall location in your phone</h3>
    <img src="{{ qrcode_url(asset('https://www.google.tn/maps/@36.84693,10.2828226,15.5z?hl=en'), extension='png') }}" />

{% endblock %}
    {% block oScript %}
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC-RG__a-P1m7hAtd0KYK91jKz6hGczDZg"></script>
        <script type="text/javascript" src="{{ asset('storelocator/js/j.js') }}"></script>
    {% endblock oScript %}