<header class="yolo-header header_transparent header-2">
    <div class="navbar-wrapper">
        <div class="navbar navbar-default">
            <div class="yolo-topbar">
                <div class="topbar-inner container-boxed">
                    <div class="container">
                        <div class="topbar-left pull-left">
                            <!--                                    Free Shipping on All Orders Over <span>$49</span>-->

                            <ul class="yolo-top-menu hidden-phone">
                                <li class="menu-item"><a href="#">About <span>Us</span></a></li>
                                <li class="menu-item"><a href="{{ path('condors_tn_mall_contact') }}">Contact <span>Us</span></a></li>
                                <li class="menu-item"><a href="#"><i class="fa fa-comments-o"></i>&nbsp;FAQ</a></li>

                            </ul>


                        </div>
                        <div class="topbar-right pull-right">
                            <ul class="yolo-top-menu hidden-phone">
                                <li class="menu-item"><a href="#"><i class="fa fa-language"></i>&nbsp;Language</a></li>

                                <li class="menu-item"><a href="wishlist.html"><i class="fa fa-heart-o"></i>&nbsp;Wishlist</a></li>
                                <li class="menu-item">
                                    <a class="login-url" href="{{ path('fos_user_security_login') }}">
                                        <i class="fa fa-sign-in"></i>&nbsp;Login
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <style>
                                        .submenu
                                        {
                                          display: none;
                                        }
                                        .register-url:hover > ul > li
                                        {
                                            display:block;
                                            position: absolute;
                                        }
                                    </style>
                                    <a class="register-url" href="{{ path('condors_tn_mall_regsitration') }}">
                                        <i class="fa fa-key"></i>&nbsp;Register
                                        <ul class="submenu">
                                            <li><a href="A">Register Client </a> </li>
                                            <li><a href="B">Register Brand</a></li>

                                        </ul>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.topbar-inner -->
            </div>
            <!-- /.topbar -->
            <div class="site-header">
                <div class="container">
                    <div class="yolo-nav-wrap">
                        <button data-target=".nav-collapse" class="btn-navbar yolo_icon_menu" type="button">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a href="index.html" class="navbar-brand">
                            <img class="yolo-logo-img yolo-logo-normal" width="150" height="150" src="{{ asset('images/logoo.png')}}" alt="Logo">
                        </a>
                    </div>
                </div>
            </div>
            <div class="yolo-wrap-menu fixed_top">
                <div class="container">
                    <div class="navbar-header pull-left">
                        <a href="index.html" class="navbar-brand">
                            <img class="yolo-logo-img yolo-logo-fixed" width="60" height="60" src="{{ asset('images/logo-fixed.png')}}" alt="">
                        </a>
                    </div>
                    <!-- / .nav-header -->
                    {{ include('CondorsTnMallBundle::SimpleVisitor/parts/nav.html.twig') }} 
                </div>
            </div>
                    <div class="yolo-search searchbar">
                        <form id="form-header">
                            <div class="search-input">
                                <input type="text" value="" name="s" placeholder="Enter keyword to search...">
                                <input type="submit" value="Search" />
                                <img class="search-remove" src="{{ asset('images/remove_white.png')}}" alt="remove">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </header>