<nav class="yolo-main-menu">
    <ul class="nav-collapse navbar-nav">
        <li class="menu-item current-menu-item menu-item-has-children">
            <a href="{{ path('condors_tn_mall_homepageNewProd') }}">Home</a>

        </li>

        <!--                                    Begin Categorie-->
        <li class="yolo_megamenu mega-col-columns-5 menu-item">
            <a href="shop-by-category.html">Categories</a>


        </li>


        <!--                                    End Categorie-->
        <li class="menu-item menu-item-has-children">
            <a href="{{ path('condors_tn_mall_simple_brands') }}">Brands</a>

        </li>
        <li class="yolo_megamenu mega-col-columns-4 menu-item menu-item-has-children">
            <a href="shop.html">Promotions</a>
        </li>
        <li class="menu-item menu-item-has-children">
            <a href="blog.html">Events</a>
            <ul class="sub-menu">
                <li class="menu-item"><a href="blog-list.html">Shop Events / Specials</a></li>
                <li class="menu-item"><a href="blog-grid.html">Mall Events</a></li>

                <li class="menu-item"><a href="blog-timeline.html">Kids Events</a></li>

            </ul>
        </li>
        <li class="menu-item menu-item-has-children">
            <a href="#">Blog</a>

        </li>
        <li class="menu-item menu-item-has-children">
            <a href="{{ path('condors_tn_mall_storelocator') }}">Store locator</a>

        </li>
        <li class="menu-item yolo-menu-item-cart minicart">
            <a class="cart-button" href="cart.html">
                <span class="cart-item">
                    <i class="fa fa-shopping-cart"></i>
                    <span>{{ app.request.cookies.get('numProd') }}</span>
                </span>
            </a>
            <div class="yolo-minicart">

                <div class="minicart-header">{{ app.request.cookies.get('numProd') }} items in the shopping cart</div>
                <div class="minicart-body">
                    {% set fpricePanierTotal = 0 %}
                    {% if app.request.cookies.get('numProd') > 0 %}
                        {% for i in 1..app.request.cookies.get('numProd') %}


                            <div class="cart-product clearfix">
                                <div class="cart-product-image">
                                    <a class="cart-product-img"
                                       href="{{ path("condors_tn_mall_shopDetail" , { id:  app.request.cookies.get('idProduit_'~ i) } ) }}#focus">
                                        <img width="100" height="140"
                                             src="{{ asset('uploads/pictures/') }}{{ app.request.cookies.get('imageprodreel_'~ i) }}"
                                             alt=""/>
                                    </a>
                                </div>
                                <div class="cart-product-details">
                                    <div class="cart-product-title">
                                        <a href="{{ path("condors_tn_mall_shopDetail" , { id:  app.request.cookies.get('idProduit_'~ i) } ) }}#focus">{{ app.request.cookies.get('libelleProduit_'~ i) }} </a>
                                    </div>
                                    <div class="cart-product-price">
                                        {% set fpricePanier =((app.request.cookies.get('tvaProduit_'~ i) * app.request.cookies.get('prixProduit_'~ i) )/100)+app.request.cookies.get('prixProduit_'~ i) %}
                                        Price <span class="amount">{{ fpricePanier }} DT

                                            {% set fpricePanierTotal = fpricePanierTotal+ fpricePanier %}
                                    </div>
                                    <div class="cart-product-quantity">Quantity 1</div>
                                </div>
                                <a href="#" class="remove">&times;</a>
                            </div>
                        {% endfor %}
                    {% endif %}

                </div>


                <div class="minicart-footer">

                    {% if app.request.cookies.get('numProd') > 0 %}
                        <div class="minicart-total">
                            Cart Subtotal <span class="amount">&#36; {{ fpricePanierTotal }} </span>
                        </div>
                        <div class="minicart-actions clearfix">
                            <a class="viewcart-button button" href="{{ path('condors_tn_mall_show_Panier') }}">
                                <span class="text">View Cart</span>
                            </a>
                            <a class="checkout-button button" href="{{ path('condors_tn_mall_payment') }}">
                                <span class="text">Checkout</span>
                            </a>
                        </div>
                    {% else %}
                        <div class="minicart-actions clearfix">
                            <a class="button pull-left" href="shop.html">
                                <span class="text">Go to the shop</span>
                            </a>
                        </div>
                    {% endif %}
                </div>
        </li>
        <li class="menu-item yolo-menu-item-search">
            <a class="search-button" href="javascript:void(0)"><i class="fa fa-search"></i></a>
        </li>
    </ul>
</nav>