<!doctype html>
<html lang="en-US">
	
<!-- Mirrored from tk-themes.net/html-canifa/contact-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 13 Mar 2016 16:23:08 GMT -->
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
		<link rel="shortcut icon" href="images/favicon.png"/>
		<title>Tunisia Mall | Contact Us </title>

    <link rel='stylesheet' href="{{ asset('css/bootstrap.min.css') }}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{ asset('css/prettyPhoto.css') }}" type='text/css ' media='all ' />
    <link rel='stylesheet ' href="{{ asset('css/jquery.selectBox.css') }}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{ asset('css/font-awesome.min.css') }}" type='text/css ' media='all ' />
    <link rel='stylesheet ' href="{{ asset('css/owl.carousel.css') }}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{ asset('css/owl.theme.css') }}" type='text/css ' media='all ' />
    <link rel='stylesheet ' href="{{ asset('http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700,900,300italic,400italic,700italic,900italic ') }}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{ asset('http://fonts.googleapis.com/css?family=Playfair+Display:100,300,400,700,900,300italic,400italic,700italic,900italic') }}" type='text/css ' media='all ' />
    <link rel='stylesheet ' href="{{ asset('css/style.css') }}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{ asset('css/animsition.css') }}" type='text/css' media='all' />
    <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{ asset('css/custom.css') }}" type='text/css' media='all' />

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
	</head>

	<body>
		<div class="site animsition">
			<header class="yolo-header header_transparent header-2">
            <div class="navbar-wrapper">
                <div class="navbar navbar-default">
                    <div class="yolo-topbar">
                        <div class="topbar-inner container-boxed">
                            <div class="container">
                                <div class="topbar-left pull-left">
                                    <!--                                    Free Shipping on All Orders Over <span>$49</span>-->

                                    <ul class="yolo-top-menu hidden-phone">
                                        <li class="menu-item"><a href="#">About <span>Us</span></a></li>
                                        <li class="menu-item"><a href="#">Contact <span>Us</span></a></li>
                                        <li class="menu-item"><a href="#"><i class="fa fa-comments-o"></i>&nbsp;FAQ</a></li>

                                    </ul>


                                </div>
                                <div class="topbar-right pull-right">
                                    <ul class="yolo-top-menu hidden-phone">
                                        <li class="menu-item"><a href="#"><i class="fa fa-language"></i>&nbsp;Language</a></li>
                                        <li class="menu-item"><a href="#"><i class="fa fa-user"></i>&nbsp;My Account</a></li>
                                        <li class="menu-item"><a href="wishlist.html"><i class="fa fa-heart-o"></i>&nbsp;Wishlist</a></li>
                                        <li class="menu-item">
                                            <a class="login-url" href="#">
                                                <i class="fa fa-sign-in"></i>&nbsp;Login
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a class="register-url" href="#">
                                                <i class="fa fa-key"></i>&nbsp;Register
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.topbar-inner -->
                    </div>
                    <!-- /.topbar -->
                    <div class="site-header">
                        <div class="container">
                            <div class="yolo-nav-wrap">
                                <button data-target=".nav-collapse" class="btn-navbar yolo_icon_menu" type="button">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <a href="index.html" class="navbar-brand">
                                    <img class="yolo-logo-img yolo-logo-normal" width="150" height="150" src="{{ asset('images/logoo.png')}}" alt="Logo">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="yolo-wrap-menu fixed_top">
                        <div class="container">
                            <div class="navbar-header pull-left">
                                <a href="index.html" class="navbar-brand">
                                    <img class="yolo-logo-img yolo-logo-fixed" width="60" height="60" src="{{ asset('images/logo-fixed.png')}}" alt="">
                                </a>
                            </div>
                            <!-- / .nav-header -->
                            <nav class="yolo-main-menu">
                                <ul class="nav-collapse navbar-nav">
                                    <li class="menu-item current-menu-item menu-item-has-children">
                                        <a href="#">Home</a>

                                    </li>

                                    <style>
                                        #subWomen {
                                            position: absolute;
                                            top: auto;
                                            left: auto;
                                        }
                                        
                                        #subsub {
                                            position: absolute;
                                            top: auto;
                                            left: auto;
                                        }
                                        
                                        #womenOn {
                                            z-index: auto;
                                            position: absolute;
                                            top: auto;
                                            left: -65px;
                                            min-width: 900%;
                                        }
                                        
                                        #manOn {
                                            z-index: auto;
                                            position: absolute;
                                            top: auto;
                                            left: -312px;
                                            min-width: 1200%;
                                        }
                                        
                                        #kidsOn {
                                            z-index: auto;
                                            position: absolute;
                                            top: auto;
                                            left: -550px;
                                            min-width: 1200%;
                                        }
                                        
                                        #beautyOn {
                                            z-index: auto;
                                            position: absolute;
                                            top: auto;
                                            left: -770px;
                                            min-width: 900%;
                                        }
                                        #houseOn
                                        {
                                            
                                             z-index: auto;
                                            position: absolute;
                                            top: auto;
                                            left: -1010px;
                                            min-width: 900%;
                                            
                                        }
                                        
                                        #AllCategories {
                                            height: 50px;
                                        }
                                        
                                        #AllCategoriesInWommen {
                                            margin: -22px;
                                        }
                                        
                                        #AllCategoriesInMan {
                                            margin: -22px;
                                        }
                                    </style>
                                    <!--                                    Begin Categorie-->
                                    <li class="yolo_megamenu mega-col-columns-5 menu-item">
                                        <a href="shop-by-category.html">Categories</a>
                                        <ul id="AllCategories" class="sub-menu">

                                            <li class="yolo-main-menu">

                                                <ul id="AllCategoriesInWommen" class="nav-collapse navbar-nav">

                                                    <li class="yolo_megamenu mega-col-columns-4 menu-item menu-item-has-children">
                                                        <a href="shop.html">Women</a>
                                                        <ul id="womenOn" class="sub-menu">
                                                            <li class="menu-item">
                                                                <div class="yolo_megamenu_widget_area">
                                                                    <div class="widget">
                                                                        <img src="{{ asset('images/menu-image.png')}}" alt="" />
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="menu-item menu-item-has-children">
                                                                <a href="#">Clothing</a>
                                                                <ul class="sub-menu">
                                                                    <li class="menu-item"><a href="shop-detail.html">Sweaters & Jackets</a></li>
                                                                    <li class="menu-item"><a href="shop-list.html">Dresses & Skirts</a></li>
                                                                    <li class="menu-item"><a href="shop-grid.html">Trousers & Jeans</a></li>
                                                                    <li class="menu-item"><a href="shop-grid-4-cols.html">Outerwear</a></li>
                                                                    <li class="menu-item"><a href="shop-grid-4-cols.html">Lingerie & Homewear</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="menu-item menu-item-has-children">
                                                                <a href="#">Bags & Accessories</a>
                                                                <ul class="sub-menu">
                                                                    <li class="menu-item"><a href="cart.html">Bags & Wallet</a></li>
                                                                    <li class="menu-item"><a href="cart-empty.html">Jewelry</a></li>
                                                                    <li class="menu-item"><a href="my-account.html">Watches</a></li>
                                                                    <li class="menu-item"><a href="wishlist.html">Hat</a></li>
                                                                    <li class="menu-item"><a href="wishlist.html">Belts</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="menu-item menu-item-has-children">
                                                                <a href="#">Shoes</a>
                                                                <ul class="sub-menu">
                                                                    <li class="menu-item"><a href="cart.html">Baskets & Sneakers</a></li>
                                                                    <li class="menu-item"><a href="cart-empty.html">Boots & Booties</a></li>
                                                                    <li class="menu-item"><a href="my-account.html">Ballerinas</a></li>
                                                                    <li class="menu-item"><a href="wishlist.html">Derby & Oxfords</a></li>
                                                                    <li class="menu-item"><a href="wishlist.html">Pumps</a></li>
                                                                    <li class="menu-item"><a href="wishlist.html">Sneakers lab</a></li>
                                                                </ul>
                                                            </li>





                                                            <!--
                                                          <li class="menu-item menu-item-has-children">
    <a href="#">Watches</a>
    <ul class="sub-menu">
        <li class="menu-item"><a href="cart.html">Cart</a></li>
        <li class="menu-item"><a href="cart-empty.html">Empty Cart</a></li>
        <li class="menu-item"><a href="my-account.html">My Account</a></li>
        <li class="menu-item"><a href="wishlist.html">Wishlist</a></li>
    </ul>
</li>
                                                            <li class="menu-item menu-item-has-children">
                                                                <a href="#">Underwear & Bathing</a>
                                                                <ul class="sub-menu">
                                                                    <li class="menu-item"><a href="cart.html">Cart</a></li>
                                                                    <li class="menu-item"><a href="cart-empty.html">Empty Cart</a></li>
                                                                    <li class="menu-item"><a href="my-account.html">My Account</a></li>
                                                                    <li class="menu-item"><a href="wishlist.html">Wishlist</a></li>
                                                                </ul>
                                                            </li>-->

                                                        </ul>
                                                    </li>

                                                </ul>




                                            </li>

                                            <li class="yolo-main-menu">

                                                <ul id="AllCategoriesInMan" class="nav-collapse navbar-nav">

                                                    <li class="yolo_megamenu mega-col-columns-4 menu-item menu-item-has-children">
                                                        <a href="shop.html">Man</a>
                                                        <ul id="manOn" class="sub-menu">
                                                            <li class="menu-item">
                                                                <div class="yolo_megamenu_widget_area">
                                                                    <div class="widget">
                                                                        <img src="{{ asset('images/menu-image2.png')}}" alt="" />
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="menu-item menu-item-has-children">
                                                                <a href="#">Clothing</a>
                                                                <ul class="sub-menu">
                                                                    <li class="menu-item"><a href="shop-detail.html">Sweaters & Jackets</a></li>
                                                                    <li class="menu-item"><a href="shop-list.html">Tops & Suits</a></li>
                                                                    <li class="menu-item"><a href="shop-grid.html">Trousers & Jeans</a></li>
                                                                    <li class="menu-item"><a href="shop-grid-4-cols.html">Outerwear</a></li>
                                                                    <li class="menu-item"><a href="shop-grid-4-cols.html">Lingerie</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="menu-item menu-item-has-children">
                                                                <a href="#">Bags & Accessories</a>
                                                                <ul class="sub-menu">
                                                                    <li class="menu-item"><a href="cart.html">Bags & Wallet</a></li>
                                                                    <li class="menu-item"><a href="cart-empty.html">Ties</a></li>
                                                                    <li class="menu-item"><a href="my-account.html">Watches</a></li>
                                                                    <li class="menu-item"><a href="wishlist.html">Hat</a></li>
                                                                    <li class="menu-item"><a href="wishlist.html">Belts</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="menu-item menu-item-has-children">
                                                                <a href="#">Shoes</a>
                                                                <ul class="sub-menu">
                                                                    <li class="menu-item"><a href="cart.html">Baskets & Sneakers</a></li>
                                                                    <li class="menu-item"><a href="cart-empty.html">Boots & Booties</a></li>
                                                                    <li class="menu-item"><a href="my-account.html">Ballerinas</a></li>
                                                                    <li class="menu-item"><a href="wishlist.html">top shoes</a></li>
                                                                    <li class="menu-item"><a href="wishlist.html">Sneakers lab</a></li>
                                                                </ul>
                                                            </li>





                                                            <!--
                                                          <li class="menu-item menu-item-has-children">
    <a href="#">Watches</a>
    <ul class="sub-menu">
        <li class="menu-item"><a href="cart.html">Cart</a></li>
        <li class="menu-item"><a href="cart-empty.html">Empty Cart</a></li>
        <li class="menu-item"><a href="my-account.html">My Account</a></li>
        <li class="menu-item"><a href="wishlist.html">Wishlist</a></li>
    </ul>
</li>
                                                            <li class="menu-item menu-item-has-children">
                                                                <a href="#">Underwear & Bathing</a>
                                                                <ul class="sub-menu">
                                                                    <li class="menu-item"><a href="cart.html">Cart</a></li>
                                                                    <li class="menu-item"><a href="cart-empty.html">Empty Cart</a></li>
                                                                    <li class="menu-item"><a href="my-account.html">My Account</a></li>
                                                                    <li class="menu-item"><a href="wishlist.html">Wishlist</a></li>
                                                                </ul>
                                                            </li>-->

                                                        </ul>
                                                    </li>

                                                </ul>




                                            </li>

                                            <li class="yolo-main-menu">

                                                <ul id="AllCategoriesInMan" class="nav-collapse navbar-nav">

                                                    <li class="yolo_megamenu mega-col-columns-4 menu-item menu-item-has-children">
                                                        <a href="shop.html">Kids</a>
                                                        <ul id="kidsOn" class="sub-menu">
                                                            <li class="menu-item">
                                                                <div class="yolo_megamenu_widget_area">
                                                                    <div class="widget">
                                                                        <img src="{{ asset('images/menu-image2.png')}}" alt="" />
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="menu-item menu-item-has-children">
                                                                <a href="#">Clothing</a>
                                                                <ul class="sub-menu">
                                                                    <li class="menu-item"><a href="shop-detail.html">Sweaters & Jackets</a></li>
                                                                    <li class="menu-item"><a href="shop-list.html">Tops & Suits</a></li>
                                                                    <li class="menu-item"><a href="shop-grid.html">Trousers & Jeans</a></li>
                                                                    <li class="menu-item"><a href="shop-grid-4-cols.html">Outerwear</a></li>
                                                                    <li class="menu-item"><a href="shop-grid-4-cols.html">Lingerie</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="menu-item menu-item-has-children">
                                                                <a href="#">Bags & Accessories</a>
                                                                <ul class="sub-menu">
                                                                    <li class="menu-item"><a href="cart.html">Bags & Wallet</a></li>
                                                                    <li class="menu-item"><a href="cart-empty.html">Ties</a></li>
                                                                    <li class="menu-item"><a href="my-account.html">Watches</a></li>
                                                                    <li class="menu-item"><a href="wishlist.html">Hat</a></li>
                                                                    <li class="menu-item"><a href="wishlist.html">Belts</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="menu-item menu-item-has-children">
                                                                <a href="#">Shoes</a>
                                                                <ul class="sub-menu">
                                                                    <li class="menu-item"><a href="cart.html">Baskets & Sneakers</a></li>
                                                                    <li class="menu-item"><a href="cart-empty.html">Boots & Booties</a></li>
                                                                    <li class="menu-item"><a href="my-account.html">Ballerinas</a></li>
                                                                    <li class="menu-item"><a href="wishlist.html">top shoes</a></li>
                                                                    <li class="menu-item"><a href="wishlist.html">Sneakers lab</a></li>
                                                                </ul>
                                                            </li>





                                                            <!--
                                                          <li class="menu-item menu-item-has-children">
    <a href="#">Watches</a>
    <ul class="sub-menu">
        <li class="menu-item"><a href="cart.html">Cart</a></li>
        <li class="menu-item"><a href="cart-empty.html">Empty Cart</a></li>
        <li class="menu-item"><a href="my-account.html">My Account</a></li>
        <li class="menu-item"><a href="wishlist.html">Wishlist</a></li>
    </ul>
</li>
                                                            <li class="menu-item menu-item-has-children">
                                                                <a href="#">Underwear & Bathing</a>
                                                                <ul class="sub-menu">
                                                                    <li class="menu-item"><a href="cart.html">Cart</a></li>
                                                                    <li class="menu-item"><a href="cart-empty.html">Empty Cart</a></li>
                                                                    <li class="menu-item"><a href="my-account.html">My Account</a></li>
                                                                    <li class="menu-item"><a href="wishlist.html">Wishlist</a></li>
                                                                </ul>
                                                            </li>-->

                                                        </ul>
                                                    </li>

                                                </ul>




                                            </li>


                                            <li class="yolo-main-menu">

                                                <ul id="AllCategoriesInMan" class="nav-collapse navbar-nav">

                                                    <li class="yolo_megamenu mega-col-columns-4 menu-item menu-item-has-children">
                                                        <a href="shop.html">Beauty</a>
                                                        <ul id="beautyOn" class="sub-menu">
                                                            <li class="menu-item">
                                                                <div class="yolo_megamenu_widget_area">
                                                                    <div class="widget">
                                                                        <img src="{{ asset('images/menu-image2.png')}}" alt="" />
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="menu-item menu-item-has-children">
                                                                <a href="#">Clothing</a>
                                                                <ul class="sub-menu">
                                                                    <li class="menu-item"><a href="shop-detail.html">Sweaters & Jackets</a></li>
                                                                    <li class="menu-item"><a href="shop-list.html">Tops & Suits</a></li>
                                                                    <li class="menu-item"><a href="shop-grid.html">Trousers & Jeans</a></li>
                                                                    <li class="menu-item"><a href="shop-grid-4-cols.html">Outerwear</a></li>
                                                                    <li class="menu-item"><a href="shop-grid-4-cols.html">Lingerie</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="menu-item menu-item-has-children">
                                                                <a href="#">Bags & Accessories</a>
                                                                <ul class="sub-menu">
                                                                    <li class="menu-item"><a href="cart.html">Bags & Wallet</a></li>
                                                                    <li class="menu-item"><a href="cart-empty.html">Ties</a></li>
                                                                    <li class="menu-item"><a href="my-account.html">Watches</a></li>
                                                                    <li class="menu-item"><a href="wishlist.html">Hat</a></li>
                                                                    <li class="menu-item"><a href="wishlist.html">Belts</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="menu-item menu-item-has-children">
                                                                <a href="#">Shoes</a>
                                                                <ul class="sub-menu">
                                                                    <li class="menu-item"><a href="cart.html">Baskets & Sneakers</a></li>
                                                                    <li class="menu-item"><a href="cart-empty.html">Boots & Booties</a></li>
                                                                    <li class="menu-item"><a href="my-account.html">Ballerinas</a></li>
                                                                    <li class="menu-item"><a href="wishlist.html">top shoes</a></li>
                                                                    <li class="menu-item"><a href="wishlist.html">Sneakers lab</a></li>
                                                                </ul>
                                                            </li>





                                                            <!--
                                                          <li class="menu-item menu-item-has-children">
    <a href="#">Watches</a>
    <ul class="sub-menu">
        <li class="menu-item"><a href="cart.html">Cart</a></li>
        <li class="menu-item"><a href="cart-empty.html">Empty Cart</a></li>
        <li class="menu-item"><a href="my-account.html">My Account</a></li>
        <li class="menu-item"><a href="wishlist.html">Wishlist</a></li>
    </ul>
</li>
                                                            <li class="menu-item menu-item-has-children">
                                                                <a href="#">Underwear & Bathing</a>
                                                                <ul class="sub-menu">
                                                                    <li class="menu-item"><a href="cart.html">Cart</a></li>
                                                                    <li class="menu-item"><a href="cart-empty.html">Empty Cart</a></li>
                                                                    <li class="menu-item"><a href="my-account.html">My Account</a></li>
                                                                    <li class="menu-item"><a href="wishlist.html">Wishlist</a></li>
                                                                </ul>
                                                            </li>-->

                                                        </ul>
                                                    </li>

                                                </ul>




                                            </li>
                                            
                                            
                                            
                                            <li class="yolo-main-menu">

                                                <ul id="AllCategoriesInMan" class="nav-collapse navbar-nav">

                                                    <li class="yolo_megamenu mega-col-columns-4 menu-item menu-item-has-children">
                                                        <a href="shop.html">House</a>
                                                        <ul id="houseOn" class="sub-menu">
                                                            <li class="menu-item">
                                                                <div class="yolo_megamenu_widget_area">
                                                                    <div class="widget">
                                                                        <img src="{{ asset('images/menu-image2.png')}}" alt="" />
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="menu-item menu-item-has-children">
                                                                <a href="#">Clothing</a>
                                                                <ul class="sub-menu">
                                                                    <li class="menu-item"><a href="shop-detail.html">Sweaters & Jackets</a></li>
                                                                    <li class="menu-item"><a href="shop-list.html">Tops & Suits</a></li>
                                                                    <li class="menu-item"><a href="shop-grid.html">Trousers & Jeans</a></li>
                                                                    <li class="menu-item"><a href="shop-grid-4-cols.html">Outerwear</a></li>
                                                                    <li class="menu-item"><a href="shop-grid-4-cols.html">Lingerie</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="menu-item menu-item-has-children">
                                                                <a href="#">Bags & Accessories</a>
                                                                <ul class="sub-menu">
                                                                    <li class="menu-item"><a href="cart.html">Bags & Wallet</a></li>
                                                                    <li class="menu-item"><a href="cart-empty.html">Ties</a></li>
                                                                    <li class="menu-item"><a href="my-account.html">Watches</a></li>
                                                                    <li class="menu-item"><a href="wishlist.html">Hat</a></li>
                                                                    <li class="menu-item"><a href="wishlist.html">Belts</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="menu-item menu-item-has-children">
                                                                <a href="#">Shoes</a>
                                                                <ul class="sub-menu">
                                                                    <li class="menu-item"><a href="cart.html">Baskets & Sneakers</a></li>
                                                                    <li class="menu-item"><a href="cart-empty.html">Boots & Booties</a></li>
                                                                    <li class="menu-item"><a href="my-account.html">Ballerinas</a></li>
                                                                    <li class="menu-item"><a href="wishlist.html">top shoes</a></li>
                                                                    <li class="menu-item"><a href="wishlist.html">Sneakers lab</a></li>
                                                                </ul>
                                                            </li>





                                                            <!--
                                                          <li class="menu-item menu-item-has-children">
    <a href="#">Watches</a>
    <ul class="sub-menu">
        <li class="menu-item"><a href="cart.html">Cart</a></li>
        <li class="menu-item"><a href="cart-empty.html">Empty Cart</a></li>
        <li class="menu-item"><a href="my-account.html">My Account</a></li>
        <li class="menu-item"><a href="wishlist.html">Wishlist</a></li>
    </ul>
</li>
                                                            <li class="menu-item menu-item-has-children">
                                                                <a href="#">Underwear & Bathing</a>
                                                                <ul class="sub-menu">
                                                                    <li class="menu-item"><a href="cart.html">Cart</a></li>
                                                                    <li class="menu-item"><a href="cart-empty.html">Empty Cart</a></li>
                                                                    <li class="menu-item"><a href="my-account.html">My Account</a></li>
                                                                    <li class="menu-item"><a href="wishlist.html">Wishlist</a></li>
                                                                </ul>
                                                            </li>-->

                                                        </ul>
                                                    </li>

                                                </ul>




                                            </li>



                                        </ul>


                                    </li>


                                    <!--                                    End Categorie-->
                                    <li class="menu-item menu-item-has-children">
                                        <a href="category.html">Brands</a>

                                    </li>
                                    <li class="yolo_megamenu mega-col-columns-4 menu-item menu-item-has-children">
                                        <a href="shop.html">Promotions</a>

                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="blog.html">Events</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="blog-list.html">Shop Events / Specials</a></li>
                                            <li class="menu-item"><a href="blog-grid.html">Mall Events</a></li>

                                            <li class="menu-item"><a href="blog-timeline.html">Kids Events</a></li>

                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">Blog</a>

                                    </li>
                                    <li class="menu-item yolo-menu-item-cart minicart">
                                        <a class="cart-button" href="cart.html">
                                            <span class="cart-item">
													<i class="fa fa-shopping-cart"></i>
												</span>
                                        </a>
                                        <div class="yolo-minicart">
                                            <div class="minicart-header">Your shopping bag is empty.</div>
                                            <div class="minicart-footer">
                                                <div class="minicart-actions clearfix">
                                                    <a class="button pull-left" href="shop.html">
                                                        <span class="text">Go to the shop</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="menu-item yolo-menu-item-search">
                                        <a class="search-button" href="javascript:void(0)"><i class="fa fa-search"></i></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="yolo-search searchbar">
                        <form id="form-header">
                            <div class="search-input">
                                <input type="text" value="" name="s" placeholder="Enter keyword to search...">
                                <input type="submit" value="Search" />
                                <img class="search-remove" src="{{ asset('images/remove_white.png')}}" alt="remove">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </header>
			<section class="yolo-page-heading heading-contact header_transparent header-2">
				<section class="parallax-bg-2 section-parallax">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>

                           
                            <br>
                            <br>
                            <br>

                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <h1 class="page-title">My Account</h1>
                            <br>
                            <br>
                            <br>
                            
                           
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </section>
					
	   		
	   			<div class="yolo-page-breadcrumb container">		
					<div class="breadcrumb-wrap">
						<ul class="breadcrumb">
							<li><a href="index.html"><i class="yoloicon-home"></i>Home</a></li>
							<li class="active"><span>My Account</span></li>
						</ul>
					</div>
				</div>
			</section>
			<div class="content-area">
	    		<div class="content-area">
	    		<div class="commerce-account">
	    			<div class="container">
		    			<div class="row">
	    					<div class="container-fluid">
	    						<div class="row row-fluid">
	    							<div class="col-sm-12">
	    								<div class="yolo-title title-center">
	            							<h2 class="title-heading">Login / Register</h2>
	            							<div class="arrow-down"></div>
	            						</div>
	                					<div class="commerce pt-5 pb-5">
											<div class="col2-set" id="customer_login">
												<div class="col-1">
                                                                                                     {% block login %}
													<h2>Login</h2>
													<!--<form class="login">
														<div class="form-row form-row-wide">
															<label for="username">
																Username or email address <span class="required">*</span>
															</label>
															<input type="text" class="input-text" name="username" id="username" value="">
														</div>
														<div class="form-row form-row-wide">
															<label for="password">
																Password <span class="required">*</span>
															</label>
															<input class="input-text" type="password" name="password" id="password">
														</div>
														<div class="form-row">
															<input type="submit" class="button" name="login" value="Login">
														</div>
														<div class="lost_password">
															<a href="http://demo.yolotheme.com/canifa/my-account/lost-password/">Lost your password?</a>
														</div>
													</form>-->
                                                                                                        
                                                                                                         <div class="loginMall">
                                                                                                                                    

                                                                                                                                    {% if app.request.hasPreviousSession %}
                                                                                                                                        {% for type, messages in app.session.flashbag.all() %}
                                                                                                                                            {% for message in messages %}
                                                                                                                                                <div class="flash-{{ type }}">
                                                                                                                                                    {{ message }}
                                                                                                                                                </div>
                                                                                                                                            {% endfor %}
                                                                                                                                        {% endfor %}
                                                                                                                                    {% endif %}

                                                                                                                                    <div>
                                                                                                                                        {% block fos_user_content %}
                                                                                                                                        {% endblock fos_user_content %}
                                                                                                                                    </div>
                                                                                                                            </div>
                                                                                                        
                                                                                                        {% endblock %}
												</div>
                                                                                              
												<!--<div class="col-2">
													<h2>Register</h2>
													<form class="register">
														<div class="form-row form-row-wide">
															<label for="reg_email">
																Email address <span class="required">*</span>
															</label>
															<input type="email" class="input-text" name="email" id="reg_email" value="" />
														</div>
														<div class="form-row form-row-wide">
															<label for="reg_password">
																Password <span class="required">*</span>
															</label>
															<input type="password" class="input-text" name="password" id="reg_password">
														</div>
														<div class="form-row">
															<input type="submit" class="button" name="register" value="Register">
														</div>
													</form>
												</div>-->
											</div>
										</div>
	    							</div>
	    						</div>
	    					</div>
		    			</div>
		    		</div>
	    		</div>
			</div> <!-- /.main -->
			<footer class="wrap-footer">
	          	<!--Start footer widget-->
	      		<div class="colophon wigetized footer-top">
	        		<div class="container">
	          			<div class="row">
	            			<div class="col-md-3 col-sm-6">
	            				<div class="widget">
	            					<h4 class="widget-title">Contact Us</h4>
	            					<div class="textwidget">
	            						<ul>
											<li>Canifa Shop</li>
											<li>54/29 West 21st Street, New York, USA </li>
											<li><a href="mailto:email@domain.com">email@domain.com</a></li>
											<li><a href="#">http://canifa.com</a></li>
											<li>Tell: <span>1-100-294-6888</span></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="widget widget_nav_menu">
									<h4 class="widget-title">Quick Links</h4>
									<div class="menu-quick-links-container">
										<ul class="menu">
											<li><a href="#">Cart</a></li>
											<li><a href="#">Checkout</a></li>
											<li><a href="#">My Account</a></li>
											<li><a href="#">Wishlist</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="widget widget_nav_menu">
									<h4 class="widget-title">Customer Care</h4>
									<div class="menu-customer-care-container">
										<ul class="menu">
											<li><a href="#">Customer service</a></li>
											<li><a href="#">Track my order</a></li>
											<li><a href="#">Shipping &#038; delivery</a></li>
											<li><a href="#">Contact us</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="widget mailchimp-widget">
									<h4 class="widget-title">Newsletter Signup</h4>
									<form class="mc-subscribe-form">
										<label for="m_email">Subscribe to stay get update from Canifa</label>
										<input type="email" id="m_email" name="mc_email" class="mc-email" value="" placeholder="Email" />
										<button><i class="fa fa-long-arrow-right">&nbsp;</i></button>
									</form>
								</div>
							</div>
							<div class="col-md-12 clear">
	                			<div class="footer-social">
	                  				<div class="yolo-social social-icons">
										<a href="#" title="Facebook" target="_blank">
											<i class="fa fa-facebook"></i>
										</a>
										<a href="#" title="Twitter" target="_blank">
											<i class="fa fa-twitter"></i>
										</a>
										<a href="#" title="Google+" target="_blank">
											<i class="fa fa-google-plus"></i>
										</a>
										<a href="#" title="Pinterest" target="_blank">
											<i class="fa fa-pinterest"></i>
										</a>
										<a href="#" title="LinkedIn" target="_blank">
											<i class="fa fa-linkedin"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--End footer widget-->
	    
	          	<div class="yolo-bottom-bar-content">
	       			<div class="container">
	         			<div class="row">
	          				<div class="col-md-7 col-sm-6 col-xs-12">
	                          	<div class="yolo-bottom-bar content-left">
	                				 2016 Tunisia Mall
	                			</div>
	                     	</div>
	          				<div class="col-md-5 col-sm-6 col-xs-12">
	          					<div class="yolo-bottom-bar content-right">
	                				<a target="_blank" href="#" title="Visacard">
										<i class="fa fa-cc-visa"></i>
									</a>
									<a target="_blank" href="#" title="Discovercard">
										<i class="fa fa-cc-discover"></i>
									</a>
									<a target="_blank" href="#" title="Mastercard">
										<i class="fa fa-cc-mastercard"></i>
									</a>
									<a target="_blank" href="#" title="Americanexpress">
										<i class="fa fa-cc-amex"></i>
									</a>
									<a target="_blank" href="#" title="Paypal">
										<i class="fa fa-cc-paypal"></i>
									</a>
								</div>
	                      	</div>
	                  	</div>
			      	</div>
			    </div>
		    </footer>
		</div>
		<!--End .site -->

		<a href="#" class="go-to-top hidden-print"><i class="fa fa-angle-up"></i></a>

                
                <script type='text/javascript' src="{{ asset('js/jquery.min.js') }}"></script>
    <script type='text/javascript ' src="{{ asset('js/jquery-migrate.min.js') }}"></script>
    <script type='text/javascript' src="{{ asset('js/modernizr-2.7.1.min.js') }}"></script>
    <script type='text/javascript ' src="{{ asset('js/jquery.prettyPhoto.js') }}"></script>
    <script type='text/javascript' src="{{ asset('js/jquery.prettyPhoto.init.min.js') }}"></script>
    <script type='text/javascript ' src="{{ asset('js/jquery.selectBox.min.js') }} "></script>
    <script type='text/javascript' src="{{ asset('js/smooth-scroll.js') }}"></script>
    <script type='text/javascript' src="{{ asset('js/off-cavnas.js') }}"></script>
    <script type='text/javascript ' src="{{ asset('js/animsition.js') }} "></script>
    <script type='text/javascript' src="{{ asset('js/script.js') }}"></script>
    <script type='text/javascript' src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script type='text/javascript ' src="{ asset('js/imagesloaded.pkgd.min.js') }} "></script>
    <script type='text/javascript' src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <script type='text/javascript' src="{{ asset('js/jquery.fitvids.js') }}"></script>
    <script type='text/javascript ' src="{{ asset('js/jquery.magnific-popup.js') }} "></script>
	</body>

<!-- Mirrored from tk-themes.net/html-canifa/contact-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 13 Mar 2016 16:23:08 GMT -->
</html>