{% extends "CondorsTnMallBundle::MyAccountTemplate.html.twig" %}

{% block pageTitle %}
    <h1 class="page-title">My Account</h1>
{% endblock pageTitle %}

{% trans_default_domain 'FOSUserBundle' %}
{% block titleTop %}<h2 class="title-heading">Login</h2>{% endblock %}

{% block fos_user_content %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED")  %}
        <style>

            .moving-zone {
                position: fixed;
                top: 30%;
                left: 40%;
                width: 300px;
                height: 300px;
                margin: -60px 0 0 -150px;
                perspective: 800px;
                z-index: 50000;
            }

            .popup {
                position: fixed;
                width: 200%;
                padding: 30px;
                box-sizing: border-box;
                border-radius: 20px 0 20px 0;
                cursor: pointer;
                transform-style: preserve-3d;
                background: -webkit-linear-gradient(top left, white 50%, coral 50%);
                background: -moz-linear-gradient(top left, white 50%, coral 50%);
                background: -ms-linear-gradient(top left, white 50%, coral 50%);
                background: -o-linear-gradient(top left, white 50%, coral 50%);
                background: linear-gradient(top left, white 50%, coral 50%);
            }

            .popup:before {
                content: '';
                position: absolute;
                left: 5%;
                top: 5%;
                width: 90%;
                height: 90%;
                border-radius: inherit;
                background: rgba(0, 0, 0, .1);
                box-shadow: 0 0 40px 20px rgba(0, 0, 0, .1);
                transform: translateZ(-100px);
            }

            .popup-content {
                background: #444;
                padding: 20px;
                box-sizing: border-box;
                border-radius: 10px 0 10px 0;
            }

            .popup-text {
                color: white;
                font-family: 'Roboto', sans-serif;
                font-size: 20px;
                line-height: 30px;
                font-weight: 100;
                text-align: center;
                transform: translateZ(15px);
            }

            .popup-text b {
                color: coral;
                font-weight: 300;
            }
            .popup-text a {
                color:inherit;
                text-decoration: none;
            }

        </style>


        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        You are Loged as  <b>{{app.user.username }}</b><br>
                        Please Logout <b>To Use This Page</b> <br><br><br><br>

                        <b> <a href="{{ path('fos_user_security_logout') }}">Log Out Here</a></b>

                    </div>
                </div>
            </div>
        </div>


        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>


            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input disabled  placeholder="Username" type="text" id="username" name="_username" value="{{ last_username }}"
                    required="required"/>

            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input disabled placeholder="Password" type="password" id="password" name="_password" required="required"/>

            <style>
                .button {
                    width: 100%;
                }
            </style>

            <input  disabled="disabled"  class="button" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"/>

            <br>
            <br>

            <div align="right">
                Forgot password ?
            </div>


            <br>
            <br>


        </form>
        <center>

                <img src="http://i.stack.imgur.com/ZW4QC.png"/>



                <img src="https://sso.wishabi.com/themes/simple/sign-in-with-google.png"/>

        </center>



    {% else %}

        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>


            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input  placeholder="Username" type="text" id="username" name="_username" value="{{ last_username }}"
                    required="required"/>

            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input placeholder="Password" type="password" id="password" name="_password" required="required"/>

            <style>
                .button {
                    width: 100%;
                }
            </style>

            <input class="button" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"/>

            <br>
            <br>

            <div align="right">
                <a href="{{ path('fos_user_resetting_request') }}">Forgot password ?</a>
            </div>


            <br>
            <br>


        </form>
        <center>
            <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}">
                <img src="http://i.stack.imgur.com/ZW4QC.png"/>
            </a>

            <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}">
                <img src="https://sso.wishabi.com/themes/simple/sign-in-with-google.png"/>
            </a>
        </center>




    {% endif %}




    <br><br><br><br>  <br><br><br><br>




{% endblock fos_user_content %}
