{% extends "CondorsTnMallBundle::ResponsableLayouts/Layout.html.twig" %}


{% block quickProfile %}
    {{ include('CondorsTnMallBundle::Responsable/quickProfile.html.twig') }}
{% endblock quickProfile %}



{% block nav_menu %}

    {{ include('CondorsTnMallBundle::Responsable/navMenu.html.twig') }}

{% endblock nav_menu %}

  {% block Content %}


      {% trans_default_domain 'FOSUserBundle' %}





              <div class="x_content">
                  {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit form-horizontal form-label-left' } }) }}
                  <div class="col-md-6 col-sm-6 col-xs-12">
                      {{ form_widget( form.email , { 'attr':{'class':'form-control col-md-7 col-xs-12'}} ) }}
                      {{ form_widget( form.username , { 'attr':{'class':'form-control col-md-7 col-xs-12'}} ) }}
                      {{ form_widget( form.current_password , { 'attr':{'class':'form-control col-md-7 col-xs-12'}} ) }}

                  </div>
                  {{ form_widget(form) }}

              </div>
                  <div>
                      <input class="btn btn-success" type="submit" value="{{ 'profile.edit.submit'|trans }}"/>
                  </div>
                  {{ form_end(form) }}




  {% endblock Content %}


    {% block footer %}
        {{ include('CondorsTnMallBundle::Responsable/footer.html.twig') }}
    {% endblock footer %}